@font-face {
    font-family: 'googleFont';
    src: url('../font/Lobster-Regular.ttf') format('truetype'),
        url('../font/SingleDay-Regular.ttf') format('truetype'),
        url('../font/CuteFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Oswald';
    src: url('../font/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SingleDay';
    src: url('../font/SingleDay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CuteFont';
    src: url('../font/CuteFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/*
yunhao chen
0847446
Section D
Apr 9 2024

Color Guide:
rgb(14, 13, 13); - black
rgb(250, 246, 246); - white



=================
Table of Contents
=================
1, header styles
2, body styles
3, footer styles
*/


/************************
header styles
*************************/
header{
    position: fixed;
    top:0;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    opacity: 0.8;
    font-family: 'googleFont';
    z-index: 999;
}
header > * {
    float: left;
}
header figure > *{
    float: left;
}
header img{
    margin-top: 5px;
    width: 45px;
    height: 45px;
    transition: 1s;
}
header img#logoIcon:hover{
    transform: scale(2) rotate(0deg);;
}
header nav{
    right: 0;
    width: 80%;
}
header nav ul{
    height: 100%;
}

header nav ul li{
    float: left;
    width: 25%;
    height: 3.5em;
    text-align: left;
    line-height: 2.5em;
    font-size: 1.2em;
}

header nav ul li a{
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
}
header nav ul li:hover > a {
    color: #4b77ca;
    /* background-color: #aaa; */
    border-bottom: 1px solid #4b77ca;
}
header nav ul li a{
    padding: .2em 1em;
    text-decoration: none;
    display: block;
    border-right: solid;
    border-color: transparent;
    background-clip: padding-box;
}
img#navicon{
    display: none;
}

/************************
body styles
*************************/
main{
    margin-top: 80px; /* Add a top margin to avoid content overlay */
    clear: both;
    
}
body{
    max-width: 1200px;
    min-width: 300px;
    /* margin: 0 auto; */
    margin-right: auto;
    margin-left: auto;
}

section{
    font-family: 'CuteFont';
    margin-bottom: 20px;
    line-height: 1.2em;
    font-size: 1.2em;
}
section h1{
    font-size: 2.2em;
}
section#project>div{
    border-bottom: 1px solid rgb(58, 57, 57);
    box-shadow: 0px 10px 5px -2px #888;
    margin-bottom: 10px;
}

section#project > div > *{
    float: left;
    width: 48%;
    margin: 5px;
}

section#project div::after{
    content: '';
    display: block;
    clear: both;

}

@media screen and (max-width: 715px){
   
}

@media screen and (max-width: 512px){
    section#project > div > *{
        width: 100%;
    }
    /* for navigation */
    header nav ul li{
        width: 100%;
    }
    img#navicon{
        display: block;
    }
    img#logoIcon{
        display: none;
    }
    header nav ul{
        display: none;
    }
    
    header nav ul:hover{
        display: block;
    }
    img#navicon:hover ~ nav ul{
        display: block;
    }

    main section#pictures ul li{
        width: 100%;
        
    }

}

/************************
footer styles
*************************/
footer{
    clear: both;
    background-color: rgb(0, 0, 0);
    color: rgb(250, 246, 246);;
    text-align: center;
    padding:10px;
    font-family: 'SingleDay';
}

footer ul li{
    float: left;
}
footer ul li img{
    max-width: 25px;
    max-height: 25px;
    margin: 5px;
    transition: 1s;
}
footer ul li img:hover{
    transform: translate(0px, -10px) rotate(0deg);;
}

footer div:nth-child(1){
    font-family: 'Oswald';
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 3px white;
    font-size: larger;
    line-height: 2em;
}
footer p{
    content: "";
    clear: both;
}
footer ul li:nth-of-type(2) img{
   background-color: #fff;
}